.order-card {
    display: flex !important;
    background-color: white !important;
    width: 70% !important;
    margin: 20px auto !important ;
    padding: 20px !important;
}
.order-card img{
    width: 400px !important;
    height: auto !important;
}
.order-card .count-bx{
    width: 50px !important;
}
@media screen and (max-width:1024px) {
    .order-card {
        display: block !important;
        background-color: white !important;
        width: 70% !important;
        margin: 20px auto !important ;
        padding: 20px !important;
    }
    
}
@media screen and (max-width:545px) {
    .order-card {
        width: 90% !important;
        
    }
    
}